body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
}

.allnav {
    width: 100%;
    height: 5vh;
    background-color: black;
    display: grid;
    grid-template-columns: 30vw 30vw 40vw;
}

.name {
    margin-top: 1.5vh;
    text-align: center;
    width: 100%;
}

.name h {
    color: white;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
}

.navigate {
    width: 100%;
    text-align: center;
    background-color: white;
}

.navigation {
    margin-top: 01vh;
    height: 4vh;
    background-color: white;
    width: 90%;
    display: inline-block;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

}

.navigation ul li {
    display: inline-block;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
}

.search {
    width: 100%;
}

.searchform {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 1.5vh;
    margin-right: 5%;
}

.searchname {
    width: 100%;
    border: solid black 1px;
    border-radius: 5px;
}

.searchbutton {
    width: 90%;
    border: solid black 1px;
    border-radius: 5px;
    font-size: 2vw;
    letter-spacing: 0.2vw;
}

main {
    width: 100%;
    padding-top: 11vh;
    padding-bottom: 7vh;
}

footer {
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 6vh;
    display: grid;
    grid-template-columns: 33vw 24vw 43vw;
}

.backtomain {
    width: 100%;
    margin-top: 1vh;
    text-align: right;
}

.backtomain p {
    font-size: 2.5vw;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-right: 1vh;
    letter-spacing: 0.3vw;
}

.backtomain a {
    font-size: 0.8vw;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.inner {
    width: 81vw;
    padding: 1vw;
    display: inline-block;
}

.threecolumns {
    display: grid;
    grid-template-columns: 32.5vw 32.5vw 32.5vw;
}

.threecolumns2 {
    display: grid;
    grid-template-columns: 23.5vw 23.5vw 23.5vw 23.5vw;
    grid-gap: 1vw;
}

.tattooimage2 {
    width: 100%;
    height: 15vh;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.tattooimage img {
    max-width: 100%;
    height: auto;
}

.contain {
    width: 81vw;
    text-align: center;
}

.tattootiles {
    width: 100%;
}

.tattootiles p {
    margin: 0;
    padding: 0;
}

.tattootitle {
    font-size: 2.5vw;
    color: gray;
}

.tattooprice {
    font-size: 2.5vw;
    color: gray;
}

.info {
    padding-top: 0.5vw;
    width: 100%;
    background-color: white;
    padding-bottom: 1.5vw;
}

.buybutton {
    margin-top: 1.5vh;
    width: 60%;
    font-size: 2.5vw;
    border: solid grey 1px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.secondcontain {
    width: 30vw;
    height: 86vh;
    z-index: -1;
    background-color: black;
    position: fixed;
    right: 0;
    top: 10vh;
    text-align: center;
}

.descriptionoftattoo {
    padding: 2vw;
    padding-top: 0;
    text-align: left;
    font-size: 2.5vw;
}

.aboutservices p {
    font-size: 3vw;
}

.aboutdescription p {
    font-size: 2.5vw;
}

.aboutdescription p span {
    font-size: 2.5vw;
}



.topimage {
    width: 100%;
    height: 100vh;
}

.topimage h {
    font-size: 10vw;
    text-align: left;
    font-family: avenir;
    text-transform: uppercase;
    padding: 5vw;
    padding-bottom: 0;
    margin: 0;
}

.topimage p {
    font-family: RobotoThin;
    padding-top: 0;
    padding: 5vw;
    font-size: 3vw;
    margin: 0;
    text-transform: none;
    position: absolute;
    left: 10vw;

}

.rosie45 {
    width: 35vh;
    height: 110vh;
    position: absolute;
    right: 0;
    top: 11vh;
    background-image: url(Images/Rosie50.jpg);
    background-size: contain;
    z-index: -1;
}

.rosie27 {
    position: absolute;
    right: 20vw;
    top: 22vh;
    width: 40%;
    height: 60vh;
    background-image: url(Images/Bird1.jpg);
    background-size: contain;
    z-index: -1;
}

.homeline {
    position: absolute;
    width: 55%;
    right: 2vw;
    top: 35vh;
    height: 1vh;
    background-color: palevioletred;
    border: none;
}

.rosie5 {
    position: absolute;
    left: 0;
    top: 65vh;
    width: 20vw;
    height: 60vh;
    background-image: url(Images/Rosie46.jpg);
    background-size: cover;
    z-index: -1;
    margin-left: 2vw;
}

.subpagenameandprice {
     width: 17vh;
    position: absolute;
    left: 1vw;
    top: 5vh;
    max-width: 100%;
    text-align: left;
    font-size: 1.5vw;
    font-family: roboto;
    padding: 1vw;
}

.subpagenameandprice img {
    max-width: 100%;
    height: auto;
}

.subpagegallery {
    width: 40vh;
    position: absolute;
    right: 1vw;
    top: 1vh;
    max-width: 100%;
    height: 100%;
    text-align: right;
    font-size: 2.5vw;
    font-family: roboto;
    padding: 1vw;
}

.subpagegallery h4 {
    font-family: Robotobold;
    padding: 0;
    font-size: 3vw;
    margin: 0;
    text-transform: none;
    text-align: right;
    color: black;
}

.goback {
     font-family: RobotoThin;
    padding-top: 0;
    padding: 5vw;
    font-size: 2vw;
    margin: 0;
    text-transform: none;
    position: absolute;
    left: 1vw;
}
